@model HRManagement.Web.Dto.ProjectViewModel
@{
    ViewData["Title"] = "Edit";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-lg-12">
            <div class="card card-block card-inverse card-primary text-center" style="background-color:cadetblue;color:whitesmoke;font-weight:bold">
                <h1 class="display-2 hidden-xs-down">
                    Editer @Model.Libelle
                </h1>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-10">
            <div class="card card-default card-block border-0">
                <form method="post" asp-controller="Project" asp-action="Edit" asp-route-id="@Model.Id">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <input id="projectId" asp-for="Id" class="form-control" hidden />
                        <label asp-for="Libelle"></label>
                        <input asp-for="Libelle" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <input asp-for="Description" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Date de début</label>
                        <input asp-for="StartDate" class="form-control" type="datetime" />
                    </div>
                    <div class="form-group">
                        <label>Date de fin</label>
                        <input asp-for="EndDate" class="form-control" type="datetime" />
                    </div>
                    <div class="form-group">
                        <label asp-for="ClientId">Client</label>
                        <select class="form-control" asp-for="ClientId" asp-items="@((List<SelectListItem>)(ViewData["clients"]))"></select>
                    </div>
                    <div class="form-group">
                        <fieldset>
                            <legend>Search User</legend>
                            <input class="form-control" width="60" type="text" id="txtUser" name="userName" placeholder="Input your keyword" />
                            <button id="addItem" class="btn btn-outline-success btn-sm addRow">add</button>
                            <input type="text" id="hfUser" name="IdU" hidden />
                        </fieldset>
                        <label asp-for="Users"></label>
                        <div id="editorRows">

                            @foreach (var elt in Model.Users)
                            {
                                <div class="editorRow">
@*                                    <input type="text" asp-for="@elt.Id" id="userId_@elt.Id" name="id" />
*@                                    <input type="text" asp-for="@elt.UserName" id="UserName" name="UserName" />
                                    <a class="btn btn-outline-danger btn-sm deleteRow">Supprimer</a>
                                </div>
                                <script>

                                $("a.deleteRow").on("click", function (selector) {

                                    var pId = $("#projectId").val();
                                    var uId = $("#userId_@elt.Id").val();
                                    console.log("USERID -> " + uId + " PROJECTID -> " + pId);

                                    $.ajax({
                                        url: '/Project/DeleteDirectly/' + pId + '/' + uId,
                                        dataType: "json",
                                        type: "GET",
                                        success: function (data) {
                                            location.reload();
                                            if (data != null) {
                                                del_row($(this));
                                            } else {
                                                alert("data record not found.");
                                            }
                                        }
                                    });
                                    return false;
                                });

                                function del_row(el) {
                                    console.log("del");
                                    console.log($(el).siblings("input[id$='__Id']").val());
                                    var childitem_id = $(el).siblings("input[id$='__Id']").val();

                                    if (childitem_id == 0 || childitem_id == "") {
                                        $(el).parent("div.editorRow").remove();
                                    } else {
                                        $(el).siblings("input[id$='__isDeleted']").val("true");
                                        $(el).parent("div.editorRow").hide();
                                    }
                                }

                                </script>
                            }
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success"><i class="fa fa-plus-circle" aria-hidden="true"></i> Envoyer</button>
                    <button type="reset" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i> Annuler</button>
                </form>
            </div>
        </div>
    </div>
</div>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>
    <link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/themes/blitzer/jquery-ui.css" rel="Stylesheet" type="text/css" />

    <script>
        $(function () {
            $("#txtUser").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/Project/UsersSearch/',
                        data: { prefix: request.term },
                        dataType: "json",
                        type: "POST",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }
                    });
                },
                select: function (e, i) {
                    $("#hfUser").val(i.item.val);
                },
                minLength: 1
            });
        });

        $("#addItem").click(function () {
            var pId = $("#projectId").val();
            var uId = $("#hfUser").val();
            console.log("USERID -> " + uId + " PROJECTID -> " + pId);
            $.ajax({
                url: '/Project/AddDirectly/' + pId + '/' + uId,
                dataType: "json",
                type: "POST",
                success: function (data) {
                    location.reload();
                    console.log(data);
                    console.log("Success");
                }
            });
            return false;
        });
    </script>
