@model HRManagement.Web.Models.Email
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HRManagement.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    @if (@Model.Password != null)
    {
        <h4>Bienvenue chez HRManagement</h4>
        <a class="btn btn-success" href="@Model.Message">Commencer votre inscription</a>
        <p>Votre Mot de passe : @Model.Password</p>
    }
    else
    {
        <h4>Bienvenue chez HRManagement</h4>
        <p>@Model.Message</p>
    }
</body>
</html>
