@model IPagedList<HRManagement.Web.Models.Mission>

<div id="main">
    <h2 class="sub-header">Nos Missions  <i class="fa fa-question-circle" aria-hidden="true" data-toggle="modal" data-target="#exampleModalMission"></i></h2>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalMission" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  Informations</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Il est impossible de supprimer un mission en cours
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
</div>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Status</th>
            <th>Projet</th>
            <th>Skills</th>
            <th>Employe</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
        <tr>
            <td>@c.Name</td>
            <td>@c.Description</td>
            @if (c.MissionEnum.ToString() == "EN_PREPARATION")
            {
                <td><i class="fa fa-circle" aria-hidden="true" style="color: #0094ff"></i></td>

            }
            else if (c.MissionEnum.ToString() == "EN_COURS")
            {
                <td><i class="fa fa-circle" aria-hidden="true" style="color: #00ff21"></i></td>
            }
            else
            {
                <td><i class="fa fa-circle" aria-hidden="true" style="color: #ff0000"></i></td>
            }
            <td>@c.Project.Libelle</td>
            <td>
                @foreach (var i in c.MissionSkills)
                {
                    @i.Skill.Libelle
                }
            </td>
            <td>@c.User.UserName</td>
            <td>
                <a class="btn btn-outline-info" asp-controller="Mission" asp-action="Edit" asp-route-id="@c.Id"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                @if (c.MissionEnum.ToString() == "EN_PREPARATION")
                {
                    <a class="btn btn-outline-primary" asp-controller="Mission" asp-action="Delete" asp-route-id="@c.Id" onclick="return Confirmmessage()"><i class="fa fa-trash" aria-hidden="true"></i></a>
                }
            </td>
        </tr>
        }
    </tbody>
</table>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.js"></script>
<nav>
    @Html.PagedListPager(Model, page => Url.Action("GetAllMissions", "Mission", new { page = page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions()
    {
        ActiveLiElementClass = "active",
        PageClasses = new[] { "page-link" },
        LiElementClasses = new[] { "page-item" },
        UlElementClasses = new[] { "pagination", "justify-content-center", "mt-3" },
        LinkToNextPageFormat = "Next",
        LinkToPreviousPageFormat = "Previous",
        MaximumPageNumbersToDisplay = 5,
        DisplayLinkToPreviousPage = X.PagedList.Mvc.Common.PagedListDisplayMode.Always,
        DisplayLinkToNextPage = X.PagedList.Mvc.Common.PagedListDisplayMode.Always,
    }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "missions" }))
</nav>
<script>
    function Confirmmessage() {
        var alert = confirm("Confirmation suppression?");
        if (alert) {
            return true;
        } else {
            return false;
        }
    }
</script>

