@model IPagedList<Mission>

<div id="main">
    <h2 class="sub-header">Mes missions  <i class="fa fa-question-circle" aria-hidden="true" data-toggle="modal" data-target="#exampleModalMissionByUser"></i></h2>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalMissionByUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  Informations</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
</div>
<table class="table table-striped table-bordered" id="dt_basic">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Projet</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Name</td>
                <td>@p.Description</td>
                <td>@p.Project.Libelle</td>
                @if (p.MissionEnum.ToString() == "EN_PREPARATION")
                {
                    <td>
                        <a class="btn btn-outline-info" asp-controller="Mission" asp-action="EditStatusAccepted" asp-route-id="@p.Id">Accepter la tâche</a>
                    </td>
                }
                else if (p.MissionEnum.ToString() == "EN_COURS")
                {
                    <td>
                        <a class="btn btn-outline-primary" asp-controller="Mission" asp-action="EditStatusValid" asp-route-id="@p.Id">Valider la tâche</a>
                    </td>
                }
                else
                {
                    <td><i class="fa fa-circle" aria-hidden="true" style="color: #ff0000"></i></td>
                }
            </tr>
        }
    </tbody>
</table>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.js"></script>
<nav>
    @Html.PagedListPager(Model, page => Url.Action("GetAllProjectsByUserId", "Project", new { page = page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions()
    {
    ActiveLiElementClass = "active",
    PageClasses = new[] { "page-link" },
    LiElementClasses = new[] { "page-item" },
    UlElementClasses = new[] { "pagination", "justify-content-center", "mt-3" },
    LinkToNextPageFormat = "Next",
    LinkToPreviousPageFormat = "Previous",
    MaximumPageNumbersToDisplay = 5,
    DisplayLinkToPreviousPage = X.PagedList.Mvc.Common.PagedListDisplayMode.Always,
    DisplayLinkToNextPage = X.PagedList.Mvc.Common.PagedListDisplayMode.Always,
    }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "projectsByUser" }))
</nav>

