@model IPagedList<Project>

<div id="main">
    <h2 class="sub-header">Nos projets <i class="fa fa-question-circle" aria-hidden="true" data-toggle="modal" data-target="#exampleModalProject"></i> </h2>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalProject" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  Informations</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Il est impossible de supprimer un projet ayant des missions en cours
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
</div>
<table class="table table-striped table-bordered" id="dt_basic">
    <thead>
        <tr>
            <th>Libelle</th>
            <th>Description</th>
            <th>Date de Début</th>
            <th>Date de fin</th>
            <th>Status</th>
            <th>Client</th>
            <th>Missions</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
        <tr>
            <td>@p.Libelle</td>
            <td>@p.Description</td>
            <td>@p.StartDate</td>
            <td>@p.EndDate</td>
            @if (p.ProjectEnum.ToString() == "EN_PREPARATION")
            {
                <td><i class="fa fa-circle" aria-hidden="true" style="color:#0094ff"></i></td>

            }
            else if (p.ProjectEnum.ToString() == "EN_COURS")
            {
                <td><i class="fa fa-circle" aria-hidden="true" style="color: #00ff21"></i></td>
            }
            else
            {
                <td><i class="fa fa-circle" aria-hidden="true" style="color: #ff0000"></i></td>
            }
            <td>@p.Client.Name</td>
            @if (p.Missios.Count == 0)
            {
                <td>Sans Missions</td>
            }
            else
            {
                <td>
                    <ul>
                        @foreach (var m in p.Missios)
                        {

                            <li>@m.Name</li>
                        }
                    </ul>
                </td>
            }
            <td>
                <a class="btn btn-outline-info" asp-controller="Project" asp-action="Edit" asp-route-id="@p.Id"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                @if (p.Missios.Count == 0)
                {
                    <a class="btn btn-outline-primary" asp-controller="Project" asp-action="Delete" asp-route-id="@p.Id" onclick="return Confirmmessage()"><i class="fa fa-trash" aria-hidden="true"></i></a>
                }
            </td>
            @*<td>
            @if (emp.HireDate != null)
            {
                @emp.HireDate.Value.ToString("dd/MM/yyyy")
            }
        </td>*@
        </tr>
        }
    </tbody>
</table>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.js"></script>
<nav>
    @Html.PagedListPager(Model, page => Url.Action("GetAllProjects", "Project", new { page = page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions()
    {
        ActiveLiElementClass = "active",
        PageClasses = new[] { "page-link" },
        LiElementClasses = new[] { "page-item" },
        UlElementClasses = new[] { "pagination", "justify-content-center", "mt-3" },
        LinkToNextPageFormat = "Next",
        LinkToPreviousPageFormat = "Previous",
        MaximumPageNumbersToDisplay = 5,
        DisplayLinkToPreviousPage = X.PagedList.Mvc.Common.PagedListDisplayMode.Always,
        DisplayLinkToNextPage = X.PagedList.Mvc.Common.PagedListDisplayMode.Always,
    }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "projects" }))
</nav>
<script>
    function Confirmmessage() {
        var alert = confirm("Confirmation suppression?");
        if (alert) {
            return true;
        } else {
            return false;
        }
    }
</script>
