@model IEnumerable<HRManagement.Web.Models.User>

<h2 class="sub-header">Nos employés</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.FirstName)</th>
            <th>@Html.DisplayNameFor(m => m.LastName)</th>
            <th>@Html.DisplayNameFor(m => m.PositionEnum)</th>
            <th>Projets</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model)
        {
        <tr>
            <td>@u.FirstName</td>
            <td>@u.LastName</td>
            <td>@u.PositionEnum</td>
            @if (u.UserProjects.Count == 0)
            {
                <td>Sans Projets</td>
            }
            else
            {
                <td>
                    <ul>
                        @foreach (var uP in u.UserProjects)
                        {

                            <li>@uP.Project.Libelle</li>
                        }
                    </ul>
                </td>
            }

            <td>
                <a class="btn btn-outline-info" asp-controller="User" asp-action="GetUser" asp-route-id="@u.Id"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            </td>
        </tr>
        }
    </tbody>
</table>
